body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formatListForm {
  /* background-color: rgb(79, 96, 122); */
  margin-bottom: 6%;
  margin-right: 5%;
  margin-left: 5%;
  border: 13px solid rgb(17, 168, 12);
  border-left: none;
  border-right: none;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.individualToDo {
  margin-right: 3%;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
}

.individualToDoDescription {
  margin-right: 3%;
  font-weight: 500;
  font-size: 1.3rem;
} 

.taskDescription {
  margin-right: 2%;
  margin-bottom: 1%;
  border-radius: 6px;
  font-size: 1.4rem;
  width: 40%;
  border: 3px solid black;
  border-bottom: none;
}

.individualToDoStatus {
  font-weight: 500;
  font-size: 1.3rem;
}

.statusLabel {
  margin-right: 1%;
}

.addSingleItem {
  margin-right: 1%;
  font-size: 1.5rem;
}

.addTaskDescription {
  font-size: 1.5rem;
}

.addTaskStatus {
  font-size: 1.5rem;
}

.formLabel {
  margin-right: 3%;
  font-size: 1.8rem;
}

.item {
  display: flex;
  justify-content: center;
}

.completedButton {
  margin-left: 2%;
  margin-right: 1%;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(17, 168, 12);
  color: white;
}

.notCompleted {
  margin-left: 2%;
  margin-right: 1%;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(8, 51, 3);
  color: white;
}

.createButton {
  margin-top: .3%;
  margin-bottom: 4%;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  background-color: rgb(17, 168, 12);
  border: 1px solid black;
}

.list {
  /* background-color: rgb(79, 96, 122); */
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: 13px solid rgb(17, 168, 12);
  border-bottom: none;
  border-radius: 100px;
}

.taskName {
  margin-bottom: 1%;
  margin-right: 1%;
  border-radius: 6px;
  font-size: 1.4rem;
  width: 40%;
  border: 3px solid black;
  border-bottom: none;
}

.addListInputs {
  margin-bottom: 1%;
  margin-right: 2%;
  width: 50%;
  /* height: 2rem; */
  border-radius: 8px;
  border: 3px solid black;
  border-left: none;
  border-right: none;
  font-size: 1.4rem;
}

.pageTitle {
  text-align: center;
  font-size: 5rem;
  border-bottom: 13px solid rgb(17, 168, 12);
  border-left: 13px solid rgb(17, 168, 12);
  border-right: 13px solid rgb(17, 168, 12);
  border-radius: 100px;
  margin-left: 19%;
  margin-right: 19%;
  padding: 3%;
}

.listTitle {
  text-align: center;
  font-size: 3rem;
  margin-top: 1%;
  margin-bottom: 1%;
}

.listDescription {
  margin-top: 0%;
}

.addListTitle {
  font-size: 3rem;
  margin-top: 1%;
  margin-bottom: 1%;
}

.task {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

.completedTaskButton {
  margin-left: 2%;
}

.addTaskButton {
  margin-left: 2%;
  border-radius: 10px;
  font-size: 1.9rem;
  width: 15%;
  margin-bottom: 4%;
  background-color: rgb(17, 168, 12);
  /* color:rgb(17, 168, 12); */
  color:white;
  border: 1px solid black;
}

.taskStatus {
  margin-right: 2%;
  border-radius: 6px;
  font-size: 1.4rem;
  margin-bottom: 1%;
  width: 40%;
  border: 3px solid black;
  border-bottom: none;
}

/* #notCompleted {
  background-color: sandybrown;
} */

#done {
  /* text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: double; */
  position: relative;
  display: inline-block;
}

#done::before, #done::after {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}

#done::before {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-5deg);
}

#done::after {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(10deg);
  transform: skewY(5deg);
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}